.consultation {
  margin: 150px 20px 0px 20px;
}

@media (min-width: 992px){
  .consultation h1 {
    font-size: 80px;
    line-height: 85px;
    font-weight: 700;
  }
}

@media (max-width: 767.98px){
  .consultation h1 {
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 40px;
  }
}

.banner-consult {
  position: absolute;
  top: 38%;
  left: 161px;
}

.undertext {
  margin: 70px 0px;
}

.undertext p {
  color: #2E3444;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.reachus {
  padding: 90px 0px;
  background-color: #f3f3f3;
}

.reachus h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 500;
  color: #000;
}

.reachus h6 {
  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
  color: #000;
} 

.plans {
  background-color: #fff;
  padding: 90px 20px;
}

.plans h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 500;
  color: #2E3444;
}

.plans h6 {
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: #2E3444;
}

.header-radio {
  font-size: 20px;
  color: #2E3444;
  font-weight: 700;
}

.custom-radio {
  border-radius: 50%!important;
  padding: 15px!important;
}

.radio-container {
  margin-left: 24px;
}

.form-price {
  padding: 60px 30px;
  background-color: #f3f3f3;
  border-radius: 40px;
}

.consultationform {
  padding: 70px 50px;
}